<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests"> -->
    <!-- <link rel="icon" href="public/img/favicon.ico"> -->
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico" />
    <!-- <link rel="icon" href="<%= BASE_URL %>/favicon.ico"> -->
    <!-- <link rel="icon" href="<%= htmlWebpackPlugin.options.url %>favicon.ico"> -->

    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">


    <link rel="shortcut icon" href="#" />
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1815243_nlsettfeyc.css" />
    <!-- <link rel="stylesheet" href="//at.alicdn.com/t/font_1815243_a9utbazdgu.css" /> -->
    <!-- <link rel="stylesheet" href="static/layui/css/layui.css"/> -->
    <link rel="stylesheet" href="/static/layui/css/layui.css" />
    <!-- <script  src="static/layui/layui.js" ></script> -->
    <script src="/static/layui/layui.js"></script>

    <!-- <script src="https://cdn.bootcss.com/vue/2.5.3/vue.js"></script> -->
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vue-router/3.2.0/vue-router.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/vuex/3.1.2/vuex.min.js"></script>
    <!-- <script src="https://cdn.bootcss.com/vue-router/2.7.0/vue-router.min.js"></script> -->
    <script src="https://cdn.bootcss.com/axios/0.17.1/axios.min.js"></script>
    <!-- <link rel="stylesheet" href="https://cdn.bootcss.com/element-ui/2.4.0/theme-chalk/index.css"> -->
    <!-- <script src="https://cdn.bootcss.com/element-ui/2.4.0/index.js"></script> -->

    <script src="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/index.js"></script>
    <link href="https://cdn.bootcdn.net/ajax/libs/element-ui/2.13.0/theme-chalk/index.css" rel="stylesheet">


    <script type="text/javascript" charset="utf-8" src="http://connect.qq.com/qc_jssdk.js" data-appid="101896922"
        data-redirecturi="https://www.fyyd.vip/nav/blog"></script>

</head>

<body>

    <noscript>
        <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled.
            Please enable it to continue.</strong>
    </noscript>
    <div id="app">
    </div>
    <!-- built files will be auto injected -->
    <style>
        body {
            margin: 0;
        }
    </style>
    <!-- <span id="qqLoginBtn"></span>
    <script type="text/javascript">
        QC.Login({
            btnId: "qqLoginBtn"	//插入按钮的节点id
        });
    </script> -->
</body>

</html>